{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Face Detection</title>
  </head>
  <body>
    {% if user.is_authenticated %}
    <button id="startButton">Start</button>
    <button id="stopButton">Stop</button>
    <img id="video" width="640" height="480" />

    <script>
      let video = document.getElementById("video");
      let startButton = document.getElementById("startButton");
      let stopButton = document.getElementById("stopButton");
      let isStreaming = false;

      startButton.addEventListener("click", () => {
        if (!isStreaming) {
          video.src = "/video_feed/";
          isStreaming = true;
        }
      });

      stopButton.addEventListener("click", () => {
        if (isStreaming) {
          video.src = "";
          isStreaming = false;
        }
      });
    </script>
  {% else %}
       <div class="col-md-6 offset-md-3">
       <h1>Login</h1>
       <form method="POST" action="{% url 'home' %}"> 
            {% csrf_token %}
              <div class="mb-3">
                
                <input type="text" class="form-control" aria-describedby="emailHelp" name="username", placeholder="Username">
                
              </div>
              <div class="mb-3">
                
                <input type="password" class="form-control" name="password" , placeholder="Password" >
              </div>
              <button type="submit" class="btn btn-secondary">Login</button>
            
          </form>
       </div>
  {% endif %}
  </body>
</html>

{% endblock %}